<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>util.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E37466C1A26368100B980E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E3746771A26368100B980E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E7327751A547E80000C5524</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E73277F1A547E80000C5524</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EC4FC471A5497BE00E05771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EC4FC511A5497BE00E05771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
